body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 426px) {
    .newItemForm {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: fit-content;
        background-color: white;
        box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
        z-index: 1100;
        opacity: 1;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .newItemForm.dark {
        background-color: rgb(32, 33, 35);
        color: white;
    }

    .newItemForm .inputFields {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
    }
    .newItemForm h3 {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: center;
        font-size: larger;
    }
    .newItemForm .inputFields .itemNameField {
        width: max-content;
        height: 30px;
        border-radius: 5px;
        font-size: 90%;
    }
    .newItemForm.dark input {
        background-color: rgb(42, 43, 46);
        color: white;
        border: 1px solid rgb(42, 43, 46);
    }
    .newItemForm.dark input:focus {
        border-color: rgb(212, 212, 212);
        box-shadow: 0px 0px 5px 0px rgb(212, 212, 212);
    }
    .newItemForm.dark label {
        font-weight: lighter;
    }

    .newItemForm .inputFields .itemNameField:focus {
        outline: none;
        border-color: rgb(59, 59, 228);
        box-shadow: 0px 0px 5px 0px rgb(59, 59, 228);
    }
    .newItemForm .inputFields .quantityInput {
        width: 25px;
        height: 30px;
        border-radius: 5px;
        font-size: 90%;
        text-align: center;
    }
    .newItemForm .inputFields .quantityInput:focus {
        outline: none;
        border-color: rgb(59, 59, 228);
        box-shadow: 0px 0px 5px 0px rgb(59, 59, 228);
    }

    .newItemForm .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        gap: 40px;
        margin-bottom: 20px;
    }

    .newItemForm .buttons button {
        border-radius: 5px;
        padding: 10px 15px;
        width: fit-content;
        border: 1px solid black;
    }
    .newItemForm.dark .buttons button {
        background-color: #3f3f3f;
        border: 1px solid #3f3f3f;
        color: white;
    }
    .newItemForm .buttons .save{
        background-color: rgb(59, 59, 228);
        color: white;
        border: 1px solid rgb(59, 59, 228);
    }
    .newItemForm.dark .buttons .save {
        background-color: rgb(95, 95, 250);
        border: 1px solid rgb(95, 95, 250);
    }
    .newItemForm .buttons button:disabled{
        opacity: 0.5;
    }

    .newItemForm .warnings {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 40px;
    }
    .newItemForm .warnings .warning {
        color: red;
        font-size: small;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 426.1px) {
    .newItemForm {
        position: fixed;
        bottom: 0;
        left: 0;
        width: fit-content;
        padding-right: 30px;
        padding-left: 30px;
        height: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 1100;
        opacity: 1;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .newItemForm.dark {
        background-color: rgb(32, 33, 35);
        color: white;
    }

    .newItemForm .inputFields {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
    }
    .newItemForm h3 {
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: center;
        font-size: larger;
    }
    .newItemForm .inputFields .itemNameField {
        width: max-content;
        height: 30px;
        border-radius: 5px;
        font-size: 90%;
    }
    .newItemForm.dark input {
        background-color: rgb(42, 43, 46);
        color: white;
        border: 1px solid rgb(42, 43, 46);
    }
    .newItemForm.dark input:focus {
        border-color: rgb(181, 181, 181);
        box-shadow: 0px 0px 5px 0px rgb(181, 181, 181);
    }
    .newItemForm.dark label {
        font-weight: lighter;
    }

    .newItemForm .inputFields .itemNameField:focus {
        outline: none;
        border-color: rgb(59, 59, 228);
        box-shadow: 0px 0px 5px 0px rgb(59, 59, 228);
    }
    .newItemForm .inputFields .quantityInput {
        width: 35px;
        height: 30px;
        border-radius: 5px;
        font-size: 90%;
        text-align: center;
    }
    .newItemForm .inputFields .quantityInput:focus {
        outline: none;
        border-color: rgb(59, 59, 228);
        box-shadow: 0px 0px 5px 0px rgb(59, 59, 228);
    }

    .newItemForm .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        gap: 40px;
        margin-bottom: 20px;
    }

    .newItemForm .buttons button {
        border-radius: 5px;
        padding: 10px 15px;
        width: fit-content;
        border: 1px solid black;
    }
    .newItemForm.dark .buttons button {
        background-color: #3f3f3f;
        border: 1px solid #3f3f3f;
        color: white;
    }
    .newItemForm .buttons .save{
        background-color: rgb(59, 59, 228);
        color: white;
        border: 1px solid rgb(59, 59, 228);
    }
    .newItemForm.dark .buttons .save {
        background-color: rgb(95, 95, 250);
        border: 1px solid rgb(95, 95, 250);
    }
    .newItemForm .buttons button:disabled{
        opacity: 0.5;
    }

    .newItemForm .warnings {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 40px;
    }
    .newItemForm .warnings .warning {
        color: red;
        font-size: small;
        margin: 0;
        padding: 0;
    }
}